:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1200px;
  margin: 10px 50px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}